<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:webflow-config="http://www.springframework.org/schema/webflow-config"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans.xsd  
      http://www.springframework.org/schema/security 
       http://www.springframework.org/schema/security/spring-security.xsd  
        http://www.springframework.org/schema/webflow-config  
       http://www.springframework.org/schema/webflow-config/spring-webflow-config.xsd">

	<security:http auto-config="true" use-expressions="true">
		<security:intercept-url pattern="/"         access="permitAll" />
		<security:intercept-url pattern="/shop"     access="permitAll" />
		<security:intercept-url pattern="/login"    access="permitAll" />
		<security:intercept-url pattern="/register" access="permitAll" />
		<security:intercept-url pattern="/addUsers" access="permitAll" />
		<security:intercept-url pattern="/cart"     access="permitAll" /> 

		<security:form-login login-page="/login"
			authentication-failure-url="/login?error" 
			login-processing-url="/j_spring_security_check"
			default-target-url="/" 
			username-parameter="j_username"
			password-parameter="j_password" />
		<security:logout logout-success-url="/login"
			logout-url="/j_spring_security_logout" />
			<security:csrf disabled="true" />
	</security:http>


	<security:authentication-manager>
		<security:authentication-provider>

			<security:jdbc-user-service
				data-source-ref="dataSource"
				authorities-by-username-query="SELECT UserName, roleName FROM Authentication WHERE UserName =?"
				users-by-username-query="SELECT emailid, password, 'true' as enabled from Users where emailid=? limit 1"/>	
		</security:authentication-provider>
	</security:authentication-manager>
</beans>